@font-face {
   src: url("font/NunitoSans/NunitoSans-Regular.ttf");
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
}
@font-face {
   src: url("font/NunitoSans/NunitoSans-Italic.ttf");
   font-family:"NunitoSans-Italic, Arial, Helvetica, sans-serif";
}
@font-face {
   src: url("font/YesevaOne/YesevaOne-Regular.ttf");
   font-family:"YesevaOne-Regular, Arial, Helvetica, sans-serif";
}
body {
   margin:0; 
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";  
}
body * {
   box-sizing: border-box;
}
   
.header-navigation {
   display: flex; list-style: none;
}

.header-navigation-item {
   margin-right: 47px;
}
.header-navigation-item a{
   text-decoration: none;
   color: white;
   font-family: 'Nunito Sans, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
}
.link-nav:hover {
   color: #E3B873;
}
.link-nav {
   color:white;
   height: 16px;
   font-family: 'Nunito Sans, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-align: right;
   text-decoration-line: underline;
}
.button {
   background: #E3B873;
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
   border-radius: 2px; border: 0;
    font-family: "NunitoSans-Italic, Arial, Helvetica, sans-serif";
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.header {
   background-color:black;
}
.header-content {
   display: flex;
   justify-content: space-between;
   height: 83px;
   max-width: 1263px;
   margin: 0 auto;
   align-items: center;    
}
.logo {
   color: #E3B873;
   font-family: 'Nunito Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-transform: uppercase;
}
.section1 {
   background-image: url("images/image\ 4.3.jpg");
   background-size: cover;
   height: 707px;
   padding: 194px 208px 627px 134px;
   position: relative;    
}
.section1-overlay {
   content: '';
   background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
     
}
.container {
   max-width: 1263px;
   margin: 0 auto;
}
.container1 {
   position: relative;
   z-index: 1;
}
.subtitle {
   margin: 0;
   font-family: 'YesevaOne-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 53px;
   text-transform: uppercase;
   color: #FFFFFF;   
}
.title {
   font-family: 'YesevaOne-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 27px;
   line-height: 37px;
   letter-spacing: -0.07em;
   text-transform: uppercase;
   color: #E3B873;
}
.title-1 {
   font-family: 'YesevaOne-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 53px;
   text-transform: uppercase;
   color: #E3B873;
}
.p-input {
   font-family: 'Nunito Sans';
    font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: rgba(54, 54, 54, 0.5);
   margin: 0;
}
.input {
   border: none;
   margin-top: 7px;
}
   
.input-container {
   border: 1px solid rgba(54, 54, 54, 0.3);
   transform: matrix(1, 0, 0, -1, 0, 0);
   width: 231px;
   margin-top: 8px;
}

.input::placeholder{
   font-family: 'Nunito Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 23px;
   color: #363636;   
}
.text-1 {
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 36px;
   color: #FFFFFF;
   margin-top: 19px;
}
.button-nav {
   width: 161px;
   height: 37px;
   padding: 13px 33px;
}
.button-section1 {
   border: 1px solid #FFFFFF;
   border-radius: 2px;
   font-family: "NunitoSans-Italic, Arial, Helvetica, sans-serif";
   font-style: italic;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
   width: 207px;
   height: 51px;
   padding: 19px 42px 20px 41px;
   background-color: transparent;
}
.button-section1:hover{
   background: #E3B873;
   
}
.button-section1-1 {
   margin-left: 20px;
   width: 207px;
   height: 51px;
   padding: 19px 23px 20px 22px;
   border: 1px solid #FFFFFF;
   border-radius: 2px;
   font-family: "NunitoSans-Italic, Arial, Helvetica, sans-serif";
   font-style: italic;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
   width: 207px;
   height: 51px;
   background-color: transparent;
}
.button-section1-1:hover{
   background: #E3B873;
}
.section2 {
   margin: 0;
   background: #131313;
   height: 1074px;
}
.container2 {
   position: relative;
   top: 107px;
   height: 552px;
}
.link-section2 {
   font-family: 'Yeseva One';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.3);
   text-decoration: none;
   margin-right: 60px;
}
.link-section2:hover{
   color: #E3B873;
   text-decoration:underline;
}

.navigation-section2 {
   margin: 0;
   position: relative;
   top:0 ;
   left: 492px;
   list-style: none;
   display: flex;
   /* padding-inline-start: 0px; */
   
}

.text-section2 {
   display:flex;
  
   
}
.text-section2-aside {
   color: #FFFFFF;
   position: relative;
   top: 53px;
   height: 482px;
   width: 442px;
}
.img-section2 {
   position:relative;
   top: 52px;
   left: 50px;
   
}
